<div class="step-pane active" id="step1">
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">お名前:</label>
		<div class="col-xs-12 col-sm-9">
			<div class="clearfix">
				<input class="col-xs-12 col-sm-6" type="text" name="name" id="name" placeholder="" />
			</div>
		</div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="email">メールアドレス</label>
		<div class="col-xs-12 col-sm-9">
			<div class="clearfix">
				<input class="col-xs-12 col-sm-6" type="email" id="email" name="email" />
			</div>
		</div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="phone" name ="age">電話番号</label>
		<div class="col-xs-12 col-sm-9">
			<span class="input-icon input-icon-right">
			<input class="input-medium input-mask-phone" type="text" id="phone" name="phone" value=""　data-rel="tooltip" title="ｻｲﾄでは公開されません" data-placement="bottom"/>
			<i class="icon-phone icon-flip-horizontal"></i>
		</div>
	</div>
	<div class="space-4"></div>

	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="password">ログインパスワード</label>
		<div class="col-xs-12 col-sm-9">
			<div class="clearfix">
				<input class="col-xs-12 col-sm-6" type="text" id="password" name="password" />
			</div>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="password2">パスワード確認</label>

		<div class="col-xs-12 col-sm-9">
			<div class="clearfix">
				<input type="password" name="password2" id="password2" class="col-xs-12 col-sm-6" />
			</div>
		</div>
	</div>
			
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="birthDay" >誕生日</label>
			<div class="col-sm-8">
				<div class="input-medium">
					<div class="input-group">
						<input class="input-medium date-picker" id="birthDay" name="birthDay" type="text" data-date-format="yyyy年mm月dd日" placeholder="yyyy年mm月dd日" />
						<span class="input-group-addon">
							<i class="icon-calendar"></i>
						</span>
					</div>
				</div>
			</div>
	</div>
	<div class="space-4"></div>

	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spinner1">ｻｲﾄ内表示　年齢</label>
		<div class="col-sm-8">
			<input type="text" class="input-mini" id="spinner1" name ="age" data-rel="tooltip" title="誕生日と一致する必要はありません" data-placement="bottom"/>
		</div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="enterDay" >入店日</label>
			<div class="col-sm-8">
				<div class="input-medium">
					<div class="input-group">
						<input class="input-medium date-picker" id="enterDay" name="enterDay" type="text" data-date-format="yyyy年mm月dd日" placeholder="yyyy年mm月dd日" />
						<span class="input-group-addon">
							<i class="icon-calendar"></i>
						</span>
					</div>
				</div>
			</div>
	</div>
	<div class="space-4"></div>
			
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="spinner1">身長</label>
		<div class="col-sm-8">
			<input type="text" class="input-mini" id="spinner2" name ="height"/>
		</div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="bust">バスト</label>
		<div class="col-sm-8">
			<input type="text" class="input-mini" id="spinner3" name ="bust"/>
		</div>
	</div>
	<div class="space-4"></div>
			
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="bustCup">カップ数</label>
		<div class="col-sm-8">
			<select class="form-control" id="bustCup" name="bustCup" style="width:100px">
					<option value="A">Aカップ</option>
					<option value="B">Bカップ</option>
					<option value="C">Cカップ</option>
					<option value="D">Dカップ</option>
					<option value="E">Eカップ</option>
					<option value="F">Fカップ</option>
					<option value="G">Gカップ</option>
					<option value="H">Hカップ</option>
					<option value="I">Iカップ</option>
					<option value="J">Jカップ</option>
					<option value="K">Kカップ</option>
					<option value="L">Lカップ</option>
			</select>
		</div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="waist">ウェスト</label>
		<div class="col-sm-8">
			<input type="text" class="input-mini" id="spinner4" name ="waist"/>
		</div>
	</div>
	<div class="space-4"></div>
	
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="hip">ヒップ</label>
		<div class="col-sm-8">
			<input type="text" class="input-mini" id="spinner5" name ="hip"/>
		</div>
	</div>
	<div class="space-4"></div>
</div>

