<div class="step-pane" id="step2">
      <div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="nameTitle">キャッチフレーズ</label>				
				<div class="col-xs-12 col-sm-9">
          <div class="clearfix">
						<input class="col-xs-12 col-sm-8" type="text" name="nameTitle" id="nameTitle" />
          </div>
				</div>
			</div>
			<div class="space-4"></div>
			
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">容姿タイプ</label>				
				<div class="col-xs-12 col-sm-9">
					<select id="drpLooks" name="looks" style="width:220px;" class="populate">
					</select>
				</div>
			</div>
			<div class="space-4"></div>
			
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">体系タイプ</label>				
				<div class="col-xs-12 col-sm-9">
					<select id="drpBodyType" name="bodyType" style="width:220px;" class="populate">
					</select>
				</div>
			</div>
			<div class="space-4"></div>
			
      <div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">おっぱいタイプ</label>				
				<div class="col-xs-12 col-sm-9">
					<select id="drpBustType" name="bustType" style="width:220px;" class="populate">
					</select>
				</div>
			</div>
			<div class="space-4"></div>

      <div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">SM</label>				
				<div class="col-xs-12 col-sm-9">
					<select id="drpSmType" name="smType" style="width:220px;" class="populate">
					</select>
				</div>
			</div>
			<div class="space-4"></div>

      <div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="tags1" data-rel="tooltip" title="複数選択可能です。" data-placement="bottom">セールスポイント</label>				
				<div class="col-xs-12 col-sm-9">
					<select id="drpTags" name="tags1" multiple style="width:220px;" class="populate">
					</select>
				</div>
			</div>
			<div class="space-4"></div>
			
      <div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="form-field-tags">追加セールスポイント</label>
				<div class="col-xs-12 col-sm-9">
            <input type="text" name="tags2" id="form-field-tags" value="" placeholder="複数入力可能です" />
				</div>
			</div>
      <div class="space-4"></div>
      <div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="freeComment0">女の子:コメント</label>
				<div class="col-xs-12 col-sm-9">
					<textarea id="freeComment0" name="freeComment0" style="width:500px;height:100px;"></textarea>
				</div>
			</div>
			<div class="space-4"></div>
      <div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right" for="freeComment1">店長:コメント</label>
				<div class="col-xs-12 col-sm-9">
					<textarea id="freeComment1" name="freeComment1" style="width:500px;height:100px;"></textarea>
				</div>
			</div>
			<div class="space-4"></div>
</div>

