<div class="recentworks bottom-pad">
  <div class="container">
    <div class="worksTitle">現在募集中の企業</div>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 d1" style="margin-left:15px;">
        <div class="portfolio-desc" >
          <div class="carousel-controls">
            <a class="prev" href="#portfolio-carousel" data-slide="prev">
              <i class="icon-angle-left"></i>
            </a>
            <a class="next" href="#portfolio-carousel" data-slide="next">
              <i class="icon-angle-right"></i>
            </a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-xs-12">
        <div class="row">
          <div id="portfolio-carousel" class="portfolio-carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d2">
                  <div class="portfolio-item">
                    <a href="/images/job/haiomatii.jpeg" class="portfolio-item-link" data-rel="prettyPhoto" >
                      <span class="portfolio-item-hover"></span>
                      <span class="fullscreen">
                        <i class="icon-search"></i>
                      </span>
                      <img src="/images/job/haiomatii.jpeg" alt=" "/>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">『玄品ふぐ』『玄品以蟹茂』/首都圏・関西圏　各店舗</a>
                      <p>
                        店長候補　/　調理スタッフ
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d3">
                  <div class="portfolio-item">
                    <a href="/images/job/menu_1.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                      <span class="portfolio-item-hover"></span>
                      <span class="fullscreen">
                        <i class="icon-search"></i>
                      </span>
                      <img src="/images/job/menu_1.jpg" alt=" "/>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">Ｃａｓａ　Ｖｉｎｉｔａｌｉａ　（カーザヴィニタリア）</a>
                      <p>
                        キッチンスタッフ
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d4">
                  <div class="portfolio-item">
                    <a href="/images/job/main_3.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                      <span class="portfolio-item-hover"></span>
                      <span class="fullscreen">
                        <i class="icon-search"></i>
                      </span>
                      <img src="/images/job/main_3.jpg" alt=" "/>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">四十八漁場　川崎店</a>
                      <p>
                        自社漁船直送鮮魚専門　キッチン・料理長候補
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                  <div class="portfolio-item">
                    <a href="img/job/portfolio-4.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                      <span class="portfolio-item-hover"></span>
                      <span class="fullscreen">
                        <i class="icon-search"></i>
                      </span>
                      <img src="img/job/portfolio-4.jpg" alt=" "/>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">Camera Icon</a>
                      <p>
                        Icon / Device
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                  <div class="portfolio-item">
                    <a href="img/job/portfolio-5.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                      <span class="portfolio-item-hover"></span>
                      <span class="fullscreen">
                        <i class="icon-search"></i>
                      </span>
                      <img src="img/job/portfolio-5.jpg" alt=" "/>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">Penguin</a>
                      <p>
                        Animal / Nature
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                  <div class="portfolio-item">
                    <a href="images/portfolio/portfolio-6.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                      <span class="portfolio-item-hover"></span>
                      <span class="fullscreen">
                        <i class="icon-search"></i>
                      </span>
                      <img src="/images/job/portfolio-6.jpg" alt=" "/>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">Sound Box</a>
                      <p>
                        Audio / Sound
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
