<div class="content-box big ch-item bottom-pad-small">
  <div class="ch-info-wrap">
    <div class="ch-info">
      <div class="ch-info-front ch-img-1">
        <i class="icon-food"></i>
      </div>
      <div class="ch-info-back">
        <i class="icon-food"></i>
      </div>
    </div>
  </div>
  <div class="content-box-info sidebar-tabs">
    <h4>職種</h4>
    <div class="row">
      <div id="jobTypeSearch-carousel" class="client-carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div style="height:165px;">
              <div class="tag-wrapper">
                <a href="#" class="tag">板前・洗い場</a>
                <a href="#" class="tag">調理スタッフ・調理補助</a>
                <a href="#" class="tag">シェフ・コック</a>
                <a href="#" class="tag">料理長・料理長候補</a>
                <a href="#" class="tag">ホテル調理スタッフ</a>
                <a href="#" class="tag">ソムリエ</a>
                <a href="#" class="tag">バリスタ</a>
                <a href="#" class="tag">ホテルスタッフ</a>
                <a href="#" class="tag">バーデンダー</a>
                <a href="#" class="tag">商品・メニュー開発</a>
                <a href="#" class="tag">営業</a>
                <a href="#" class="tag">バイヤー</a>
                <a href="#" class="tag">デリバリースタッフ</a>
                <a href="#" class="tag">販売スタッフ</a>
                <a href="#" class="tag">製造ラインスタッフ</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div style="height:165px;">
              <div class="tag-wrapper">
                <a href="#" class="tag">板前・洗い場</a>
                <a href="#" class="tag">調理スタッフ・調理補助</a>
                <a href="#" class="tag">シェフ・コック</a>
                <a href="#" class="tag">料理長・料理長候補</a>
                <a href="#" class="tag">ホテル調理スタッフ</a>
                <a href="#" class="tag">ソムリエ</a>
                <a href="#" class="tag">バリスタ</a>
                <a href="#" class="tag">ホテルスタッフ</a>
                <a href="#" class="tag">バーデンダー</a>
                <a href="#" class="tag">商品・メニュー開発</a>
                <a href="#" class="tag">営業</a>
                <a href="#" class="tag">バイヤー</a>
                <a href="#" class="tag">デリバリースタッフ</a>
                <a href="#" class="tag">販売スタッフ</a>
                <a href="#" class="tag">製造ラインスタッフ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-controls pull-right">
        <a class="prev" href="#jobTypeSearch-carousel" data-slide="prev">
          <i class="icon-angle-left"></i>
        </a>
        <a class="next" href="#jobTypeSearch-carousel" data-slide="next">
          <i class="icon-angle-right"></i>
        </a>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
