<div class="content-box big ch-item">
  <div class="ch-info-wrap">
    <div class="ch-info">
      <div class="ch-info-front ch-img-1">
        <i class="icon-edit"></i>
      </div>
      <div class="ch-info-back">
        <i class="icon-edit"></i>
      </div>
    </div>
  </div>
  <div class="content-box-info sidebar-tabs">
    <h4>タグ検索</h4>
    <div class="row">
      <div id="tagSearch-carousel" class="client-carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div style="height:165px;">
              <div class="tag-wrapper">
                <a href="#" class="tag">賄いあり</a>
                <a href="#" class="tag">店長やさしい</a>
                <a href="#" class="tag">アットホーム</a>
                <a href="#" class="tag">ホワイト企業</a>
                <a href="#" class="tag">社員若い</a>
                <a href="#" class="tag">昼暇</a>
                <a href="#" class="tag">料理上手になる</a>
                <a href="#" class="tag">学生多い</a>
                <a href="#" class="tag">制服可愛い</a>
                <a href="#" class="tag">仕事簡単</a>
                <a href="#" class="tag">わきあいあい</a>
                <a href="#" class="tag">土日休み</a>
                <a href="#" class="tag">土日暇</a>
                <a href="#" class="tag">女子多い</a>
                <a href="#" class="tag">お局がいる</a>
                <a href="#" class="tag">未経験でもいける</a>
                <a href="#" class="tag">クセモノがいる</a>
                <a href="#" class="tag">常連が多い</a>
                <a href="#" class="tag">オシャレ</a>
                <a href="#" class="tag">店長イケメン</a>
                <a href="#" class="tag">看板娘がいる</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div style="height:165px;">
              <div class="tag-wrapper">
                <a href="#" class="tag">賄いあり</a>
                <a href="#" class="tag">店長やさしい</a>
                <a href="#" class="tag">アットホーム</a>
                <a href="#" class="tag">ホワイト企業</a>
                <a href="#" class="tag">社員若い</a>
                <a href="#" class="tag">昼暇</a>
                <a href="#" class="tag">料理上手になる</a>
                <a href="#" class="tag">学生多い</a>
                <a href="#" class="tag">制服可愛い</a>
                <a href="#" class="tag">仕事簡単</a>
                <a href="#" class="tag">わきあいあい</a>
                <a href="#" class="tag">土日休み</a>
                <a href="#" class="tag">土日暇</a>
                <a href="#" class="tag">女子多い</a>
                <a href="#" class="tag">お局がいる</a>
                <a href="#" class="tag">未経験でもいける</a>
                <a href="#" class="tag">クセモノがいる</a>
                <a href="#" class="tag">常連が多い</a>
                <a href="#" class="tag">オシャレ</a>
                <a href="#" class="tag">店長イケメン</a>
                <a href="#" class="tag">看板娘がいる</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div style="height:165px;">
              <div class="tag-wrapper">
                <a href="#" class="tag">賄いあり</a>
                <a href="#" class="tag">店長やさしい</a>
                <a href="#" class="tag">アットホーム</a>
                <a href="#" class="tag">ホワイト企業</a>
                <a href="#" class="tag">社員若い</a>
                <a href="#" class="tag">昼暇</a>
                <a href="#" class="tag">料理上手になる</a>
                <a href="#" class="tag">学生多い</a>
                <a href="#" class="tag">制服可愛い</a>
                <a href="#" class="tag">仕事簡単</a>
                <a href="#" class="tag">わきあいあい</a>
                <a href="#" class="tag">土日休み</a>
                <a href="#" class="tag">土日暇</a>
                <a href="#" class="tag">女子多い</a>
                <a href="#" class="tag">お局がいる</a>
                <a href="#" class="tag">未経験でもいける</a>
                <a href="#" class="tag">クセモノがいる</a>
                <a href="#" class="tag">常連が多い</a>
                <a href="#" class="tag">オシャレ</a>
                <a href="#" class="tag">店長イケメン</a>
                <a href="#" class="tag">看板娘がいる</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-controls pull-right">
        <a class="prev" href="#tagSearch-carousel" data-slide="prev">
          <i class="icon-angle-left"></i>
        </a>
        <a class="next" href="#tagSearch-carousel" data-slide="next">
          <i class="icon-angle-right"></i>
        </a>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
