<div class="top-bar">
  <div class="slidedown collapse">
    <div class="container">
      <div class="pull-left">
        <a href="">
          <span class="topAreaBox color_Main">食に特化した求人情報サイト</span>
        </a>
        <a href="">
          <span class="topAreaBox color_Green">関東</span>
        </a>
        <a href="">
          <span class="topAreaBox color_Blue">関西</span>
        </a>
        <a href="">
          <span class="topAreaBox color_Red">東海</span>
        </a>
        <a href="">
          <span class="topAreaBox color_Yerrow">九州</span>
        </a>
        <a href="">
          <span class="topAreaBox color_Parpul">沖縄</span>
        </a>
        <a href="">
          <span class="topAreaBox ">北海道</span>
        </a>
        <a href="">
          <span class="topAreaBox color_UsuPink">東北</span>
        </a>
        <a href="">
          <span class="topAreaBox color_Eme">甲信越・北陸</span>
        </a>
        <a href="">
          <span class="topAreaBox color_Chugoku">中国</span>
        </a>
        <a href="">
          <span class="topAreaBox color_Sikoku">四国</span>
        </a>
      </div>
      <div>
        <div class="pull-right">
          <ul class="social pull-left">
            <li class="facebook">
              <a href="#">
                <i class="icon-facebook"></i>
              </a>
            </li>
            <li class="twitter">
              <a href="#">
                <i class="icon-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
