<div class="carousel-controls pull-right">
  <a class="prev" href="#client-carousel" data-slide="prev">
    <i class="icon-angle-left"></i>
  </a>
  <a class="next" href="#client-carousel" data-slide="next">
    <i class="icon-angle-right"></i>
  </a>
  <div class="clearfix"></div>
</div>
<div class="clients-title">
  <h4 class="title" data-toggle="tooltip" data-placement="left" title="" data-original-title="常時募集の企業">待機中の企業</h4>
</div>
<div class="clearfix"></div>
<div id="client-carousel" class="client-carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d1">
        <div class="item-inner" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="バチタカ 常時募集">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-11.jpg">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d2">
        <div class="item-inner">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-6.jpg">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d3">
        <div class="item-inner">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-7.jpg">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d4">
        <div class="item-inner">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-8.bmp">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d4">
        <div class="item-inner">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-9.gif">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d4">
        <div class="item-inner">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-10.jpg">
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item">
        <div class="item-inner" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-5.png">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item">
        <div class="item-inner">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-4.png">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2 col-xs-6 item">
        <div class="item-inner">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-3.png">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2 col-xs-6 item">
        <div class="item-inner">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-2.png">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2 col-xs-6 item">
        <div class="item-inner">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-3.png">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2 col-xs-6 item">
        <div class="item-inner">
          <a href="#">
            <img alt="Upportdash" src="/images/clientslogo/logo-2.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
