<div class="main-header">
  <div class="container">
    <!-- TopNav Start -->
    <div class="topnav navbar-header">
      <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
        <i class="icon-angle-down icon-current"></i>
      </a>
    </div>
    <!-- TopNav End -->
    <!-- Logo Start -->
    <div class="logo pull-left">
      <h1>
        <a href="/Home/">
          <img src="/images/logo3.png" alt="logo" />
        </a>
      </h1>
    </div>
    <!-- Logo End -->
    <!-- Mobile Menu Start -->
    <div class="mobile navbar-header">
      <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
        <i class="icon-reorder icon-2x"></i>
      </a>
    </div>
    <!-- Mobile Menu End -->
    <!-- Menu Start -->
    <nav class="collapse navbar-collapse menu">
      <ul class="nav navbar-nav sf-menu">
        <li>
          <a id="current" href="/Home/">
            Home
            <span class="sf-sub-indicator">
              <i class="icon-angle-down "></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#" class="sf-with-ul">
            募集中
            <span class="sf-sub-indicator">
              <i class="icon-angle-down "></i>
            </span>
          </a>
          <ul>
            <li>
              <a href="/job" class="sf-with-ul">すべて</a>
            </li>
            <li>
              <a href="services.html" class="sf-with-ul">急募</a>
            </li>
            <li>
              <a href="testimonials.html" class="sf-with-ul">いつでも募集</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sf-with-ul">
            待機中
            <span class="sf-sub-indicator">
              <i class="icon-angle-down "></i>
            </span>
          </a>
          <ul>
            <li>
              <a href="portfolio-two.html" class="sf-with-ul">来月募集開始</a>
            </li>
            <li>
              <a href="portfolio-three.html" class="sf-with-ul">再来月募集開始</a>
            </li>
            <li>
              <a href="portfolio-four.html" class="sf-with-ul">常に応募受付</a>
            </li>
            <li>
              <a href="portfolio-four.html" class="sf-with-ul">募集予定なし</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sf-with-ul">
            マイページ
            <span class="sf-sub-indicator">
              <i class="icon-angle-down "></i>
            </span>
          </a>
          <ul>
            <li>
              <a href="blog-left-sidebar.html" class="sf-with-ul">ログイン</a>
            </li>
            <li>
              <a href="blog-right-sidebar.html" class="sf-with-ul">プロフィール</a>
            </li>
            <li>
              <a href="blog-small.html" class="sf-with-ul">メッセージ</a>
            </li>
            <li>
              <a href="blog-small.html" class="sf-with-ul">お気に入り管理</a>
            </li>
            <li>
              <a href="single-post.html" class="sf-with-ul">スカウト</a>
            </li>
            <li>
              <a href="single-post.html" class="sf-with-ul">ログアウト</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="contact.html">お問合せ</a>
        </li>
      </ul>
    </nav>
    <!-- Menu End -->
  </div>
</div>
