<!-- Search Widget Start -->
<div class="widget search-form">
  <div class="input-group">
    <input type="text" value="Search..." onfocus="if(this.value=='Search...')this.value='';" onblur="if(this.value=='')this.value='Search...';" class="search-input form-control">
      <span class="input-group-btn">
        <button type="submit" class="subscribe-btn btn">
          <i class="icon-search"></i>
        </button>
      </span>
    </div>
  <!-- /input-group -->
</div>
<!-- Search Widget End -->
<div class="content-box big ch-item bottom-pad-small">
  <div class="content-box-info">
    <h5>エリア・沿線検索</h5>
    <a href="">
      <span class="topAreaBox color_Green" id="kantou">関東</span>
    </a>
    <a href="">
      <span class="topAreaBox color_Blue" id="kansai">関西</span>
    </a>
    <a href="">
      <span class="topAreaBox color_Red" id="toukai">東海</span>
    </a>
    <a href="">
      <span class="topAreaBox color_Yerrow" id="kyusyu">九州</span>
    </a>
    <a href="">
      <span class="topAreaBox color_Parpul" id="okinawa">沖縄</span>
    </a>
    <a href="">
      <span class="topAreaBox" id="hokkaidou">北海道</span>
    </a>
    <a href="">
      <span class="topAreaBox color_UsuPink" id="touhoku">東北</span>
    </a>
    <a href="">
      <span class="topAreaBox color_Eme" id="hokuriku">甲信越・北陸</span>
    </a>
    <a href="">
      <span class="topAreaBox color_Chugoku" id="chugoku">中国</span>
    </a>
    <a href="">
      <span class="topAreaBox color_Sikoku" id="sikoku">四国</span>
    </a>
    <a href="">
      <span class="topAreaBox color_Main" id="zenkoku" style="display:none;">全国</span>
    </a>

    <a href="" class="map1">
      <span class="topAreaBox_mini color_Green area1">栃木</span>
    </a>
    <a href="" class="map1">
      <span class="topAreaBox_mini color_Green area2">茨城</span>
    </a>
    <a href="" class="map1">
      <span class="topAreaBox_mini color_Green area3">千葉</span>
    </a>
    <a href="" class="map1">
      <span class="topAreaBox_mini color_Green area4">群馬</span>
    </a>
    <a href="" class="map1">
      <span class="topAreaBox_mini color_Green area5">埼玉</span>
    </a>
    <a href="" class="map1">
      <span class="topAreaBox_mini color_Green area6">東京</span>
    </a>
    <a href="" class="map1">
      <span class="topAreaBox_mini color_Green area7">神奈川</span>
    </a>

    <a href="" class="map2">
      <span class="topAreaBox_mini color_Blue area8">滋賀</span>
    </a>
    <a href="" class="map2">
      <span class="topAreaBox_mini color_Blue area9">奈良</span>
    </a>
    <a href="" class="map2">
      <span class="topAreaBox_mini color_Blue area10">和歌山</span>
    </a>
    <a href="" class="map2">
      <span class="topAreaBox_mini color_Blue area11">兵庫</span>
    </a>
    <a href="" class="map2">
      <span class="topAreaBox_mini color_Blue area12">京都</span>
    </a>
    <a href="" class="map2">
      <span class="topAreaBox_mini color_Blue area13">大阪</span>
    </a>

    <a href="" class="map3">
      <span class="topAreaBox_mini color_Red area14">愛知</span>
    </a>
    <a href="" class="map3">
      <span class="topAreaBox_mini color_Red area15">静岡</span>
    </a>
    <a href="" class="map3">
      <span class="topAreaBox_mini color_Red area16">岐阜</span>
    </a>
    <a href="" class="map3">
      <span class="topAreaBox_mini color_Red area17">三重</span>
    </a>

    <a href="" class="map4">
      <span class="topAreaBox_mini color_Yerrow area18">福岡</span>
    </a>
    <a href="" class="map4">
      <span class="topAreaBox_mini color_Yerrow area19">大分</span>
    </a>
    <a href="" class="map4">
      <span class="topAreaBox_mini color_Yerrow area20">宮崎</span>
    </a>
    <a href="" class="map4">
      <span class="topAreaBox_mini color_Yerrow area21">熊本</span>
    </a>
    <a href="" class="map4">
      <span class="topAreaBox_mini color_Yerrow area22">佐賀</span>
    </a>
    <a href="" class="map4">
      <span class="topAreaBox_mini color_Yerrow area23">長崎</span>
    </a>
    <a href="" class="map4">
      <span class="topAreaBox_mini color_Yerrow area24">鹿児島</span>
    </a>

    <a href="" class="map5">
      <span class="topAreaBox_mini color_Parpul area25">沖縄</span>
    </a>

    <p id="area_Map">
      <img alt="" src="/images/map/area_mapNew.gif">
            </p>
  </div>
</div>

<!-- Tab Start -->
<div class="widget tabs">
  <div id="horizontal-tabs">
    <ul class="tabs">
      <li id="tab1" class="current">緊急募集</li>
      <li id="tab2">特集</li>
      <li id="tab3">現場のTweet</li>
    </ul>
    <div class="contents">
      <div class="tabscontent" id="content1" style="display: block;">
        <ul class="posts">
          <li>
            <a href="#">
              <img class="img-thumbnail recent-post-img" alt="" src="/images/recent-post-img.jpg">
            </a>
            <p>
              <a href="#">Lorem Ipsum is simply dummy text.</a>
            </p>
            <span class="color">27 July 2013</span>
          </li>
          <li>
            <a href="#">
              <img class="img-thumbnail recent-post-img" alt="" src="/images/recent-post-img.jpg">
            </a>
            <p>
              <a href="#">Lorem Ipsum is simply dummy text.</a>
            </p>
            <span class="color">30 July 2013</span>
          </li>
        </ul>
      </div>
      <div class="tabscontent" id="content2">
        <ul class="posts">
          <li>
            <a href="#">
              <img class="img-thumbnail recent-post-img" alt="" src="img/recent-post-img.jpg">
            </a>
            <p>
              <a href="#">Lorem Ipsum is simply dummy text.</a>
            </p>
            <span class="color">27 July 2013</span>
          </li>
          <li>
            <a href="#">
              <img class="img-thumbnail recent-post-img" alt="" src="img/recent-post-img.jpg">
            </a>
            <p>
              <a href="#">Lorem Ipsum is simply dummy text.</a>
            </p>
            <span class="color">30 July 2013</span>
          </li>
        </ul>
      </div>
      <div class="tabscontent" id="content3">
        <ul class="posts">
          <li>
            <a href="#">
              <img class="img-thumbnail recent-post-img" alt="" src="img/recent-post-img.jpg">
            </a>
            <p>
              <a href="#">Lorem Ipsum is simply dummy text.</a>
            </p>
            by <span class="color">wptuts+</span>
          </li>
          <li>
            <a href="#">
              <img class="img-thumbnail recent-post-img" alt="" src="img/recent-post-img.jpg">
            </a>
            <p>
              <a href="#">Lorem Ipsum is simply dummy text.</a>
            </p>
            by <span class="color">wptuts+</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Tab End -->
<!-- Category Widget Start -->
<div class="widget category">
  <h3 class="title">人気の業態</h3>
  <ul class="category-list slide">
    <li>
      <a href="#">居酒屋</a>
    </li>
    <li>
      <a href="#">割烹</a>
    </li>
    <li>
      <a href="#">カフェ</a>
    </li>
    <li>
      <a href="#">ホテル</a>
    </li>
    <li>
      <a href="#">コンビニ</a>
    </li>
  </ul>
</div>
<!-- Category Widget End -->
<!-- Ads Widget Start -->
<!-- Ads Widget End -->
