          <div class="row">
            <div class="col-md-4 text-center">
              <img alt="" class="img-responsive" src="/images/sampleAds2.jpeg" />
              <!-- star rated -->
              <span class="label label-default" style="font-weight:bold;"><i class="fa fa-eye"></i> 100 view</span>
              <span class="label label-default" style="font-weight:bold;"><i class="fa fa-heart"></i> 100 人</span>
              <ul class="star-rated styleSecondColor">レベル21
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
              </ul>
  
              <!-- /star rated -->
            </div>
            <div class="col-md-8">
              <span class="label label-danger">New</span>
              <span class="label label-warning" style="font-weight:bold;">キッチンスタッフ</span>
              <span class="label label-success" style="font-weight:bold;">(株）ニプロス</span>
              <span class="label label-info" style="font-weight:bold;">東京都新宿区</span>
              <span class="label label-primary" style="font-weight:bold;">2014/09/14</span>
                <button type="button" class="btn btn-default btn-xs">お気に入り追加</button>
  
              <h4><a class="styleColor" href="magazine-single.html">ウェアラブルで臨場感溢れるAR体験を創造するプロダクトデザイナー募集！</a></h4>
              <p>
                【目指す世界 】 AR技術・モーション認識技術を使い、新しいゲーム市場を創造します 【ヘッドマウントディスプレイの仕組み】 カメラ映像から空間の奥行.
                <small class="block styleSecondColor">
                <a href="#" class="label label-default"><i class="fa fa-tag"></i>スキルアップ</a>
                <a href="#" class="label label-default"><i class="fa fa-tag"></i>生放送</a>
                <a href="#" class="label label-default"><i class="fa fa-tag"></i>食事会</a>
                </small>
                
              </p>
            </div>
            <div class="col-md-12">
              <div class="testimonial classic">
                <p style="background-image:url('https://graph.facebook.com/100000261830329/picture?height=40&width=40');
                background-repeat:no-repeat;padding-left:82px;background-color:#d9edf7;">
                職場をもりあげていきましょう</p>
                <cite style="background-color:#d9edf7;">（株）ニプロス<strong>平岡　慎一郎</strong>, 店長</cite>
              </div>
            </div>
          </div>
          <!-- /article summary -->
          <hr class="mini-margins" /><!-- separator -->
					
					          <div class="row">
            <div class="col-md-4 text-center">
              <img alt="" class="img-responsive" src="/images/sampleAds2.jpeg" />
              <!-- star rated -->
              <span class="label label-default" style="font-weight:bold;"><i class="fa fa-eye"></i> 100 view</span>
              <span class="label label-default" style="font-weight:bold;"><i class="fa fa-heart"></i> 100 人</span>
              <ul class="star-rated styleSecondColor">レベル21
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
              </ul>
  
              <!-- /star rated -->
            </div>
            <div class="col-md-8">
              <span class="label label-danger">New</span>
              <span class="label label-warning" style="font-weight:bold;">キッチンスタッフ</span>
              <span class="label label-success" style="font-weight:bold;">(株）ニプロス</span>
              <span class="label label-info" style="font-weight:bold;">東京都新宿区</span>
              <span class="label label-primary" style="font-weight:bold;">2014/09/14</span>
                <button type="button" class="btn btn-default btn-xs">お気に入り追加</button>
  
              <h4><a class="styleColor" href="magazine-single.html">ウェアラブルで臨場感溢れるAR体験を創造するプロダクトデザイナー募集！</a></h4>
              <p>
                【目指す世界 】 AR技術・モーション認識技術を使い、新しいゲーム市場を創造します 【ヘッドマウントディスプレイの仕組み】 カメラ映像から空間の奥行.
                <small class="block styleSecondColor">
                <a href="#" class="label label-default"><i class="fa fa-tag"></i>スキルアップ</a>
                <a href="#" class="label label-default"><i class="fa fa-tag"></i>生放送</a>
                <a href="#" class="label label-default"><i class="fa fa-tag"></i>食事会</a>
                </small>
                
              </p>
            </div>
            <div class="col-md-12">
              <div class="testimonial classic">
                <p style="background-image:url('https://graph.facebook.com/100000261830329/picture?height=40&width=40');
                background-repeat:no-repeat;padding-left:82px;background-color:#d9edf7;">
                職場をもりあげていきましょう</p>
                <cite style="background-color:#d9edf7;">（株）ニプロス<strong>平岡　慎一郎</strong>, 店長</cite>
              </div>
            </div>
          </div>
          <!-- /article summary -->
          <hr class="mini-margins" /><!-- separator -->