<div class="fullwidthbanner-container roundedcorners">
  <div class="fullwidthbanner">
    <ul>
            <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
        <!-- COVER IMAGE -->
        <img src="/images/demo/revolution_slider/sliderbg.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
        <!-- LAYER NR. 1 -->
        <div class="tp-caption lightgrey_divider skewfromrightshort customout"
          data-x="85"
          data-y="224"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="1200"
          data-easing="Power4.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 2">
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption customin customout"
          data-x="right" data-hoffset="100"
          data-y="bottom" data-voffset="0"
          data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="700"
          data-easing="Power4.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          style="z-index: 3"><img src="/images/sampleAds1.png" alt="">
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption large_bold_grey skewfromrightshort customout"
          data-x="10"
          data-y="10"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 3">
          <button type="button" class="btn btn-danger btn-xs">New</button>

        </div>
        
        <!-- LAYER NR. 3 -->
        <div class="tp-caption large_bold_grey skewfromrightshort customout"
          data-x="90"
          data-y="10"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 3">
          <button type="button" class="btn btn-warning btn-xs">キッチンスタッフ</button>
        </div>
        
        <!-- LAYER NR. 4 -->
        <div class="tp-caption large_bold_grey skewfromrightshort customout"
          data-x="10"
          data-y="60"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 4">
          <button type="button" class="btn btn-primary">(株)ニプロス</button>
        </div>
        
        <!-- LAYER NR. 4 -->
        <div class="tp-caption large_bold_grey skewfromrightshort customout"
          data-x="10"
          data-y="110"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 4">
          <button type="button" class="btn btn-info btn-xs">東京都板橋区</button>
        </div>
        
        <!-- LAYER NR. 4 -->
        <div class="tp-caption large_bold_grey skewfromrightshort customout"
          data-x="10"
          data-y="335"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 4">
          <button type="button" class="btn btn-default">詳細</button>
        </div>
        
        <div class="tp-caption large_bold_grey skewfromrightshort customout"
          data-x="90"
          data-y="335"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 4">
          <button type="button" class="btn btn-default">お気に入り</button>
        </div>

        <div class="tp-caption medium_bg_darkblue skewfromrightshort customout"
          data-x="300"
          data-y="350"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 4">
          更新日　2014/09/16 20:00
        </div>

        <div class="tp-caption finewide_verysmall_black_mw customin customout tp-resizeme"
          data-x="10"
          data-y="170" 
          data-customin="x:0;y:50;z:0;rotationX:-120;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 0%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="900"
          data-start="800"
          data-easing="Power3.easeInOut"
          data-splitin="lines"
          data-splitout="lines"
          data-elementdelay="0.2"
          data-endelementdelay="0.08"
          data-endspeed="300"
          style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
            我々はガッツある社員と共に<br /> 
            この職場をより楽しく素晴らしい環境に！！！ <br />
            経験不問！！<br /> 
            Let’　Enjoy Job
        </div>
        <div class="tp-caption sft start" data-x="center" data-hoffset="0" data-y="310" data-speed="1600" data-start="2800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px; left: 489.5px; top: 310px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); -webkit-transform: none;">
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>
                    </div>
        <div class="tp-caption medium_grey skewfromleftshort customout"
          data-x="10" data-hoffset="-90"
          data-y="308"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="1600"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 10"><i class="fa fa-eye"></i> 9999 view
        </div>
              
        <div class="tp-caption medium_grey skewfromleftshort customout"
          data-x="160" data-hoffset="-90"
          data-y="308"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="1600"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 10"><i class="fa fa-heart-o"></i> 9999 人
        </div>
              
        <div class="tp-caption small_text skewfromrightshort customout"
          data-x="570"
          data-y="348"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeIn"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 99">
          <a href="http:yahoo.co.jp" class="label label-default"><i class="fa fa-tag"></i> 未経験</a>	
        </div>
        
        <div class="tp-caption small_text skewfromrightshort customout"
          data-x="670"
          data-y="348"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeIn"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 99">
          <a href="#" class="label label-default"><i class="fa fa-tag"> フレックス</i></a>	
        </div>
        <!-- 2danme  data-y 369-->
        <div class="tp-caption small_text skewfromrightshort customout"
          data-x="770"
          data-y="348"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeIn"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 100">
          <a href="#" class="label label-default"><i class="fa fa-tag"></i>スキルアップ</a>	
        </div>
        
      </li>
      <!-- SLIDE End -->
      
      <!-- SLIDE Start -->
      <!-- SLIDE  -->
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
<style>
.fullwidthbanner{
  font-family:'Helvetica Neue', Helvetica, Arial, 'Droid Sans', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif}
}
</style>
    
