<!-- WRAPPER -->
<div id="wrapper">
  <div class="container magazine top-no-header">
    <div class="row">
      <!-- center column -->
      <div class="col-md-9">
          <!-- BREAKING 求人 -->
          <div id="map"></div>

         <!-- /FEATURED -->
          
      </div>
      <!-- /center column -->
      <!-- right column -->
      <div class="col-md-3">
  
        <!-- HOT -->
        <h3 class="page-header nomargin-top">
          Today's <strong class="styleColor">Hot</strong>
        </h3>
  
        <!-- No #1 Hot -->
        <div class="item-box nomargin-top">
          <figure>
            <a class="item-hover" href="magazine-single.html">
              <span class="overlay color2"></span>
              <span class="inner">
                <span class="block fa fa-plus fsize20"></span>
                <strong>詳細</strong>
              </span>
            </a>
            <img class="img-responsive" src="/images/job/main/" alt="">
          </figure>
          <div class="item-box-desc">
            <small>29 June 2014, 08:33</small>
            <h4 class="wrap"><a class="styleColor" href="#"></a></h4>
          </div>
        </div>
        <!-- /No #1 Hot -->
  
        <!-- video -->
        <iframe src="http://player.vimeo.com/video/23630702" width="800" height="450"></iframe>
        <h5 class="font300 padding10">
          <i class="fa fa-comments styleSecondColor"></i> <a href="#">Comment this video</a> 
          <small class="pull-right">(0 comments)</small>
        </h5>
        <!-- /video -->
  
        <!-- small articles -->
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <a href="#">
              <img class="img-responsive" src="/images/job/main/" alt="">
              <h6 class="fsize12 font300 padding6 styleSecondColor"></h6>
            </a>							
          </div>
          <div class="col-xs-6 col-md-6">
            <a href="#">
              <img class="img-responsive" src="/images/job/main/" alt="">
              <h6 class="fsize12 font300 padding6 styleSecondColor"></h6>
            </a>							
          </div>
        </div>
        <!-- /small articles -->
  
  
        <!-- LATEST -->
        <h3 class="page-header">
          <strong class="styleColor">Weekly</strong> Ranking
        </h3>
  
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <i class="fa fa-heart-o"></i>
                  詳細表示　ＴＯＰ３
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="panel-body">
                <ul class="list-icon angle-right">
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <i class="fa fa-star"></i>
                  お気に入り登録　ＴＯＰ３
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="panel-body">
                <ul class="list-icon angle-right">
                  <li><a href="#">Boulder smashes through Italian farm</a></li>
                  <li><a href="#">Fall in eurozone inflation rate fuels deflation concerns</a></li>
                  <li><a href="#">Australia to dump dredged sand in Great Barrier Reef Park</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  <i class="fa fa-comment"></i>
                  コメント　投稿数　ＴＯＰ３
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="panel-body">
                <ul class="list-icon angle-right">
                  <li><a href="#">Boulder smashes through Italian farm</a></li>
                  <li><a href="#">Fall in eurozone inflation rate fuels deflation concerns</a></li>
                  <li><a href="#">Australia to dump dredged sand in Great Barrier Reef Park</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
        <!-- TWEETS -->
        <h3 class="page-header">
          <i class="fa fa-twitter"></i> 
          Latest <strong class="styleColor">Tweets</strong> 
        </h3>
  
        <p>
          <a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          <small class="block styleColor">12 hours ago</small>
        </p>
        <p>
          <a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          <small class="block styleColor">12 hours ago</small>
        </p>
        <p>
          <a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          <small class="block styleColor">12 hours ago</small>
        </p>
  
        <!-- SOCIALS -->
        <h3 class="page-header">
          <i class="fa fa-twitter"></i> 
          <strong class="styleColor">Follow</strong> Us
        </h3>
  
        <a href="#" class="social fa fa-facebook"></a>
        <a href="#" class="social fa fa-twitter"></a>
        <a href="#" class="social fa fa-google-plus"></a>
        <a href="#" class="social fa fa-linkedin"></a>
        <a href="#" class="social fa fa-pinterest"></a>
        <a href="#" class="social fa fa-flickr"></a>
  
      </div>
      <!-- /right column -->
    </div><!-- /.row -->
  </div>
</div>
<!-- /WRAPPER -->
