<!-- TOP NAV -->
<header id="topNav" class="topHead">
  <div class="container">

    <!-- Mobile Menu Button -->
    <button class="btn" data-toggle="collapse" data-target=".nav-main-collapse">
      <i class="fa fa-bars"></i>
    </button>

    <!-- Logo text or image -->
    <a class="logo" href="index.html">
      <img src="/images/logo.png" alt="jobEat" />
    </a>

    <!-- Top Nav -->
    <div class="navbar-collapse nav-main-collapse collapse pull-right">
      <nav class="nav-main mega-menu">
        <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
            <li><a href="/home/"><b>Home</b></a></li>
            <%- partial('newJob')%>
          <li class="dropdown mega-menu-item mega-menu-fullwidth">
            <a class="dropdown-toggle" href="#">
              Features <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="mega-menu-content">
                  <div class="row">
                    <div class="col-md-3">
                      <ul class="sub-menu">
                        <li>
                          <span class="mega-menu-sub-title">General Features</span>
                          <ul class="sub-menu">
                            <li><a href="feature-grid-system.html">Grid System</a></li>
                            <li><a href="feature-icons.html">Icons</a></li>
                            <li><a href="feature-pricing-tables.html"><em>Pricing Tables</em></a></li>
                            <li><a href="feature-testimonials.html"><em>Testimonials</em></a></li>
                            <li><a href="email-template.html"><em>Email Template</em></a></li>
                            <li><a href="shortcodes.html"><em>Shortcodes</em></a></li>
                            <li><a href="feature-animations.html">Animations</a></li>
                            <li><a href="feature-typograpy.html">Typograpy</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="sub-menu">
                        <li>
                          <span class="mega-menu-sub-title">Sliders</span>
                          <ul class="sub-menu">
                            <li><a href="feature-content-carousel.html">Content Carousel</a></li>
                            <li><a href="revolution-official-1.html">(17) Premium Revolution Slider</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="sub-menu">
                        <li>
                          <span class="mega-menu-sub-title">Headers</span>
                          <ul class="sub-menu">
                            <li><a href="header-1.html">Header Version 1</a></li>
                            <li><a href="header-2.html">Header Version 2</a></li>
                            <li><a href="header-3.html">Header Version 3</a></li>
                            <li><a href="header-4.html">Header Version 4</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="sub-menu">
                        <li>
                          <span class="mega-menu-sub-title">Unique Bonuses</span>
                          <ul class="sub-menu">
                            <li><a href="onepage-superslides.html" target="_blank">Onepage - Superslides</a></li>
                            <li><a href="onepage-revolution.html" target="_blank">Onepage - Revolution</a></li>
                            <li><a href="email-template.html">Email Template</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#">
              <b>Special</b> <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="magazine-home.html">Magazine - Home</a></li>
              <li><a href="magazine-category.html">Magazine - Category</a></li>
              <li><a href="magazine-single.html">Magazine - Single</a></li>
              <li class="divider"></li>
              <li><a href="realestate-home.html">Real Estate - Home</a></li>
              <li><a href="realestate-list.html">Real Estate - List</a></li>
              <li><a href="realestate-single.html">Real Estate - Single</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#">
              Shop <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="index-shop.html">Shop - Home</a></li>
              <li class="divider"></li>
              <li><a href="shop-full-width.html">Shop Full Width</a></li>
              <li><a href="shop-product-full-width.html">Shop Product Full Width</a></li>
              <li class="divider"></li>
              <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
              <li><a href="shop-product-sidebar.html">Shop Product Sidebar</a></li>
              <li class="divider"></li>
              <li><a href="shop-cart.html">Shop Cart</a></li>
              <li><a href="shop-cc-pay.html">Shop Credit Card</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#">
              Blog <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="blog-full-width.html">Blog Without Sidebar</a></li>
              <li><a href="blog-left-sidebar.html">Blog With Sidebar Left</a></li>
              <li><a href="blog-right-sidebar.html">Blog With Sidebar Right</a></li>
              <li><a href="blog-timeline.html">Blog Timeline</a></li>
              <li><a href="blog-masonry.html">Blog Masonry</a></li>
              <li><a href="blog-masonry-full-width.html">Blog Masonry - Full Width</a></li>
              <li><a href="blog-masonry-sidebar.html">Blog Masonry - Sidebar</a></li>
              <li class="divider"></li>
              <li><a href="blog-post.html">Single Post</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#">
              Portfolio <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="portfolio-2-columns.html">2 Columns</a></li>
              <li><a href="portfolio-3-columns.html">3 Columns</a></li>
              <li><a href="portfolio-4-columns.html">4 Columns</a></li>
              <li><a href="portfolio-lightbox.html">Portfolio - Gallery</a></li>
              <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
              <li><a href="portfolio-full-center.html">Portfolio Full Center</a></li>
              <li class="divider"></li>
              <li><a href="portfolio-single.html">Single - Basic</a></li>
              <li><a href="portfolio-single-extended.html">Single - Extended</a></li>
              <li><a href="portfolio-single-full-slider.html">Single - Full Slider</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <!-- /Top Nav -->

  </div>
</header>
<!-- /TOP NAV -->
