<!-- Box Wrapper -->
<div class="box-wrapper">
			<div class="inner-page">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<!-- Inner Page Content Sidebar -->
							<div class="page-sidebar">
								<!-- Page Title -->
								<div class="page-title br-pink">
									<!-- Inner Page Title // Heading -->
									<h2>女の子を探す</h2>
									<!-- Paragraph -->
									<p>様々な条件を入れて、あなた好みの女の子を探しましょう！！</p>
								</div>
								<!-- Sidebar Links -->
								<div class="sidebar-link col-disable">
									<!-- Search Box -->
									<div class="search">
										<form>
											<div class="input-group">
												<input type="text" class="form-control" placeholder="女の子の名前で検索">
												<span class="input-group-btn">
													<button class="btn" type="button"><i class="fa fa-search"></i></button>
												</span>
											</div>
										</form>
									</div>
                  <ul class="list-unstyled">
										<li><a href="index.html" class="animated">基本条件 <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="aboutus.html" class="animated">出勤条件 <i class="fa fa-angle-double-right"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Main-bar Column -->
						<div class="col-md-9">
							<div class="page-mainbar contactus">
								<!-- Heading -->
								<!-- Contact Us Content -->
								<!-- Heading -->
								<h3>女の子の条件</h3>
								<!-- Contact Us Branches -->
								<div class="branch-content">
									<div class="row">
										<div class="col-md-12 col-sm-4">
											<address>
											<div class="control-group" id="checkJobList">
												<div class="checkbox">
													<i class="fa fa-building-o br-orange"></i>業種
												</div>
											</div>
											</address>
										</div>
										<div class="col-md-12 col-sm-4">
											<address>
											<div class="control-group" id="checkAgeList">
												<div class="checkbox">
													<i class="fa fa-calendar br-blue"></i>年齢
												</div>
											</div>
											</address>
										</div>
										<div class="col-md-12 col-sm-4">
											<address>
											<div class="control-group" id="checkHeightList">
												<div class="checkbox">
													<i class="fa fa-arrows-v br-green"></i>身長
												</div>
											</div>
											</address>
										</div>
										
                    <div class="col-md-12 col-sm-4">
											<address>
											<div class="control-group" id="checkBustCupList">
												<div class="checkbox">
													<i class="fa fa-circle-o br-yellow"></i>カップ数
												</div>
											</div>
											</address>
										</div>
										
                    <div class="col-md-12 col-sm-4">
											<address>
											<div class="control-group" id="checkBustList">
												<div class="checkbox">
													<i class="fa fa-book br-lblue"></i>バストサイズ
												</div>
											</div>
											</address>
										</div>
                    
                    
                    <div class="col-md-12 col-sm-4">
											<address>
											<div class="control-group" id="checkWeastList">
												<div class="checkbox">
													<i class="fa fa-arrows-h br-purple"></i>ウエスト
												</div>
											</div>
											</address>
										</div>
                    
                    

                    <div class="col-md-12 col-sm-4">
											<address>
											<div class="control-group" id="checkHipList">
												<div class="checkbox">
													<i class="fa fa-shield br-pink"></i>ヒップ
												</div>
											</div>
											</address>
										</div>
                    
                    



                  </div>
								</div>
                <div class="form-group">
                  <!-- form Submit and reset button -->
                  <button type="submit" class="btn btn-info"><i class="fa fa-search"></i> 検索 </button>&nbsp;
                  <button type="reset" class="btn btn-default">リセット</button>
                </div>
							</div>


						</div>
					</div>
				</div>
			</div>
    </div>
</div>

<!-- Footer Start -->