<section class="container">
  <div class="owl-carousel" data-plugin-options='{"items": 5, "singleItem": false, "autoPlay": true, "navigation": false, "pagination": false}'>
    <div>
      <img class="img-responsive" src="/images/company/logo/1_10112logo.jpg" alt="">
    </div>
    <div>
      <img class="img-responsive" src="/images/company/logo/1_10124logo.jpg" alt="">
    </div>
    <div>
      <img class="img-responsive" src="/images/company/logo/1_10133logo.jpg" alt="">
    </div>
    <div>
      <img class="img-responsive" src="/images/company/logo/1_10442logo.jpg" alt="">
    </div>
    <div>
      <img class="img-responsive" src="/images/company/logo/1_10447logo.jpg" alt="">
    </div>
    <div>
      <img class="img-responsive" src="/images/company/logo/1_10852logo.jpg" alt="">
    </div>
    <div>
      <img class="img-responsive" src="/images/company/logo/1_11252logo.jpg" alt="">
    </div>
    <div>
      <img class="img-responsive" src="/images/company/logo/1_11460logo.jpg" alt="">
    </div>
    <div>
      <img class="img-responsive" src="/images/company/logo/1_14219logo.jpg" alt="">
    </div>
    <div>
      <img class="img-responsive" src="/images/company/logo/1_14230logo.jpg" alt="">
    </div>
  </div>
</section>