		<header id="topHead">
			<div class="container">

				<!-- PHONE/EMAIL -->
				<span class="quick-contact pull-left">
					<i class="fa fa-phone"></i> 1800-555-1234 &bull; 
					<a class="hidden-xs" href="mailto:mail@yourdomain.com">mail@domain.com</a>
            <% if(session.login) { %>
                <a href="/user/show/<%= session.User.id%>"><button type="button" class="btn btn-primary btn-xs">マイページ</button></a>
                <a href="/user/logout/<%= session.User.id%>"><button type="button" class="btn btn-primary btn-xs">ログアウト</button></a>
            <% } else { %>
                <a href="/user/new/"><button type="button" class="btn btn-primary btn-xs">会員登録</button></a>
                <a href="/user/login/"><button type="button" class="btn btn-primary btn-xs">ログイン</button></a>
                <a href="/admin/login/signin"><button type="button" class="btn btn-primary btn-xs">サイト運営者様</button></a>
            <% } %>
                <a href="contact-us.html"><button type="button" class="btn btn-primary btn-xs">お問い合わせ</button></a>
				</span>

				<!-- LANGUAGE -->
				<div class="btn-group pull-right hidden-xs">
					<button class="dropdown-toggle language" type="button" data-toggle="dropdown">
						 <span id="spanSetArea">全国</span> <span class="caret"></span>
					</button>

					<ul class="dropdown-menu" id="drpTop">
						<li>
							<a href="#" id="btnChange">
								 変更
							</a>
						</li>
					</ul>
				</div>
				<!-- /LANGUAGE -->


				<!-- SIGN IN -->
				<div class="pull-right nav signin-dd">
					<a id="quick_sign_in" href="page-signin.html" data-toggle="dropdown"><i class="fa fa-users"></i><span class="hidden-xs"> Sign In</span></a>
					<div class="dropdown-menu" role="menu" aria-labelledby="quick_sign_in">

						<h4>Sign In</h4>
						<form action="page-signin.html" method="post" role="form">

							<div class="form-group"><!-- email -->
								<input required type="email" class="form-control" placeholder="Username or email">
							</div>

							<div class="input-group">

								<!-- password -->
								<input required type="password" class="form-control" placeholder="Password">
								
								<!-- submit button -->
								<span class="input-group-btn">
									<button class="btn btn-primary">Sign In</button>
								</span>

							</div>

							<div class="checkbox"><!-- remmember -->
								<label>
									<input type="checkbox"> Remember me &bull; <a href="page-signin.html">Forgot password?</a>
								</label>
							</div>

						</form>

						<hr />
						
						<a href="#" class="btn-facebook fullwidth radius3"><i class="fa fa-facebook"></i> Connect With Facebook</a>
						<a href="#" class="btn-twitter fullwidth radius3"><i class="fa fa-twitter"></i> Connect With Twitter</a>
						<!--<a href="#" class="btn-google-plus fullwidth radius3"><i class="fa fa-google-plus"></i> Connect With Google</a>-->

						<p class="bottom-create-account">
							<a href="page-signup.html">Manual create account</a>
						</p>
					</div>
				</div>
				<!-- /SIGN IN -->

				<!-- CART MOBILE BUTTON -->
				<a class="pull-right" id="btn-mobile-quick-cart" href="shop-cart.html"><i class="fa fa-shopping-cart"></i></a>
				<!-- CART MOBILE BUTTON -->

			</div>
		</header>