		<header id="topNav" class="topHead"><!-- remove class="topHead" if no topHead used! -->
			<div class="container">

				<!-- Mobile Menu Button -->
				<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Logo text or image -->
				<a class="logo" href="index.html">
					<img src="/images/logo.png" alt="Atropos" />
				</a>

				<!-- Top Nav -->
				<div class="navbar-collapse nav-main-collapse collapse pull-right">
					<nav class="nav-main mega-menu">
						<ul class="nav nav-pills nav-main scroll-menu" id="topMain">
							<li class="dropdown active">
								<a class="dropdown-toggle" href="#">
									Home <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
                  <li class="dropdown-submenu"><a href="#">北海道・東北</a>
										<ul class="dropdown-menu" id="ulht">
                      <li><a href="/home/ht/all">北海道・東北全域</a></li>
										</ul>
									</li>

									<li class="dropdown-submenu"><a href="#">関東</a>
										<ul class="dropdown-menu" id="ulkt">
                      <li><a href="/home/kt/all">関東全域</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu"><a href="#">関西</a>
										<ul class="dropdown-menu" id="ulkw">
                      <li><a href="/home/kw/all">関西全域</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu"><a href="#">甲信越・北陸</a>
										<ul class="dropdown-menu" id="ulkh">
                      <li><a href="/home/kh/all">甲信越・北陸全域</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu"><a href="#">東海</a>
										<ul class="dropdown-menu" id="ulto">
                      <li><a href="/home/to/all">東海全域</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu"><a href="#">中国</a>
										<ul class="dropdown-menu" id="ulch">
                      <li><a href="/home/ch/all">中国全域</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu"><a href="#">四国</a>
										<ul class="dropdown-menu" id="ulsi">
                      <li><a href="/home/si/all">四国全域</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu"><a href="#">九州・沖縄</a>
										<ul class="dropdown-menu" id="ulqo">
                      <li><a href="/home/qo/all">九州・沖縄全域</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="dropdown mega-menu-item mega-menu-two-columns">
								<a class="dropdown-toggle" href="#">
									女の子 <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<div class="mega-menu-content">
											<div class="row">
												<div class="col-md-3">
													<ul class="sub-menu">
														<li>
															<ul class="sub-menu">
																<li class="dropdown-submenu">
																	<a href="#"><i class="fa fa-check-square-o"></i> 業種</a>
																	<ul class="dropdown-menu" id="drpShopType">
																	</ul>
																</li>
															</ul>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
              <li class="dropdown mega-menu-item mega-menu-two-columns">
								<a class="dropdown-toggle" href="#">
									お店 <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<div class="mega-menu-content">
											<div class="row">
												<div class="col-md-3">
													<ul class="sub-menu">
														<li>
															<ul class="sub-menu">
																<li class="dropdown-submenu">
																	<a href="#"><i class="fa fa-check-square-o"></i> 業種</a>
																	<ul class="dropdown-menu" id="drpShopType">
																	</ul>
																</li>
															</ul>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" href="#">
									<b>Special</b> <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="magazine-home.html">Magazine - Home</a></li>
									<li><a href="magazine-category.html">Magazine - Category</a></li>
									<li><a href="magazine-single.html">Magazine - Single</a></li>
									<li class="divider"></li>
									<li><a href="realestate-home.html">Real Estate - Home</a></li>
									<li><a href="realestate-list.html">Real Estate - List</a></li>
									<li><a href="realestate-single.html">Real Estate - Single</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" href="#">
									Shop <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="shop-home.html">Shop - Home</a></li>
									<li class="divider"></li>
									<li><a href="shop-full-width.html">Shop Full Width</a></li>
									<li><a href="shop-product-full-width.html">Shop Product Full Width</a></li>
									<li class="divider"></li>
									<li><a href="shop-sidebar.html">Shop Sidebar</a></li>
									<li><a href="shop-product-sidebar.html">Shop Product Sidebar</a></li>
									<li class="divider"></li>
									<li><a href="shop-cart.html">Shop Cart</a></li>
									<li><a href="shop-cc-pay.html">Shop Credit Card</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" href="#">
									Blog <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="blog-full-width.html">Blog Without Sidebar</a></li>
									<li><a href="blog-left-sidebar.html">Blog With Sidebar Left</a></li>
									<li><a href="blog-right-sidebar.html">Blog With Sidebar Right</a></li>
									<li><a href="blog-timeline.html">Blog Timeline</a></li>
									<li><a href="blog-masonry.html">Blog Masonry</a></li>
									<li><a href="blog-masonry-full-width.html">Blog Masonry - Full Width</a></li>
									<li><a href="blog-masonry-sidebar.html">Blog Masonry - Sidebar</a></li>
									<li class="divider"></li>
									<li><a href="blog-post.html">Single Post</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" href="#">
									Portfolio <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="portfolio-2-columns.html">2 Columns</a></li>
									<li><a href="portfolio-3-columns.html">3 Columns</a></li>
									<li><a href="portfolio-4-columns.html">4 Columns</a></li>
									<li><a href="portfolio-lightbox.html">Portfolio - Gallery</a></li>
									<li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
									<li><a href="portfolio-full-center.html">Portfolio Full Center</a></li>
									<li class="divider"></li>
									<li><a href="portfolio-single.html">Single - Basic</a></li>
									<li><a href="portfolio-single-extended.html">Single - Extended</a></li>
									<li><a href="portfolio-single-full-slider.html">Single - Full Slider</a></li>
								</ul>
							</li>

							<!-- GLOBAL SEARCH -->
							<li class="search">
								<!-- search form -->
								<form method="get" action="#" class="input-group pull-right">
									<input type="text" class="form-control" name="k" id="k" value="" placeholder="Search">
									<span class="input-group-btn">
										<button class="btn btn-primary notransition"><i class="fa fa-search"></i></button>
									</span>
								</form>
								<!-- /search form -->
							</li>
							<!-- /GLOBAL SEARCH -->

							<!-- QUICK SHOP CART -->
							<li class="quick-cart">
								<span class="badge pull-right">3</span>
								
								<div class="quick-cart-content">

									<p><i class="fa fa-warning"></i> You have 3 products on your cart</p>

									<a class="item" href="shop-product-full-width.html"><!-- item 1 -->
										<img class="pull-left" src="assets/images/demo/shop/thumb/1.jpg" width="40" alt="quick cart" />
										<div class="inline-block">
											<span class="title">Man shirt XL</span>
											<span class="price">2 &times; $44.00</span>
										</div>
									</a><!-- /item 1 -->

									<a class="item" href="shop-product-full-width.html"><!-- item 2 -->
										<img class="pull-left" src="assets/images/demo/shop/thumb/2.jpg" width="40" alt="quick cart" />
										<div class="inline-block">
											<span class="title">Great Black Shoes For Man and Only Man...</span>
											<span class="price">2 &times; $44.00</span>
										</div>
									</a><!-- /item 2 -->

									<a class="item" href="shop-product-full-width.html"><!-- item 3 -->
										<img class="pull-left" src="assets/images/demo/shop/thumb/4.jpg" width="40" alt="quick cart" />
										<div class="inline-block">
											<span class="title">Pink Lady Perfect Shoes</span>
											<span class="price">1 &times; $67.32</span>
										</div>
									</a><!-- /item 3 -->

									<!-- QUICK CART BUTTONS -->
									<div class="row cart-footer">
										<div class="col-md-6 nopadding-right">
											<a href="shop-cart.html" class="btn btn-primary btn-xs fullwidth">VIEW CART</a>
										</div>
										<div class="col-md-6 nopadding-left">
											<a href="shop-cc-pay.html" class="btn btn-info btn-xs fullwidth">CHECKOUT</a>
										</div>
									</div>
									<!-- /QUICK CART BUTTONS -->

								</div>

							</li>
							<!-- /QUICK SHOP CART -->


						</ul>
					</nav>
				</div>
				<!-- /Top Nav -->

			</div>
		</header>

		<span id="header_shadow"></span>