<!--article start-->
<div class="" style="margin-top:-20px;">
  <ul id="js-news" class="js-hidden visiblContents" >
  <% _.each(job.comment, function (comment) { %>
  <li class="news-item">
  <%= comment %>
  </li>
  <% }) %>
  </ul>
</div>
<div class="blog-divider"></div>
