<!-- WRAPPER -->
<div id="wrapper">
    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1><%= user.name %>さんの<span class="myPageTitle">プロフィール</span></h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">さんの<span class="myPageTitle">プロフィール</span></li>
            </ul>
        </div>
    </header>
    <!-- /PAGE TITLE -->
    <%- partial('mypage/prof')%>
    <%- partial('mypage/favorite')%>
</div>
<!-- /WRAPPER -->
