<section class="container section" id="favorite-section">
		<div class="row">
			<%- partial('profNavi')%>
			<div class="col-md-9">
					<!-- WHITE ROWS -->
					<div class="white-row">
						<table class="favorite table table-striped">
							<!-- table head -->
							<thead>
								<tr>
									<th>#</th>
									<th>会社名</th>
									<th class="hidden-sm">Description</th>
									<th>Qty</th>
									<th>Unit price</th>
									<th>Total</th>
								</tr>
							</thead>
							<!-- table items -->
							<tbody>
							</tbody>
						</table>
					</div>
					<!-- /WHITE ROWS -->
					<!-- adv広告 -->
          <%- partial('adv')%>
					<!-- /adv広告 -->
			</div>
    </div>  
</section>
