<aside class="col-md-3">
    <ul class="nav nav-list">
        <li><a href="#" onclick="show_section('prof-section'); return false;"><i class="fa fa-circle-o" id="navprof-section"></i> プロフィール情報</a></li>
        <li><a href="#" onclick="show_section('favorite-section'); return false;"><i class="fa fa-circle-o" id="navfavorite-section"></i> お気に入り</a></li>
        <li><a href="shortcodes-counters.html"><i class="fa fa-circle-o"></i> メール管理</a></li>
        <li><a href="shortcodes-forms.html"><i class="fa fa-circle-o"></i> スカウト</a></li>
        <li><a href="shortcodes-buttons.html"><i class="fa fa-circle-o"></i> 各種設定</a></li>
    </ul>
</aside>