<div id="edit-settings" class="tab-pane">
	<div class="space-10"></div>
	<div>
		<label class="inline">
			<input type="checkbox" name="form-field-checkbox" class="ace" />
			<span class="lbl">企業情報の閲覧を会員限定にする</span>
		</label>
	</div>
	
	<div class="space-8"></div>		
	<div>
		<label class="inline">
			<input type="checkbox" name="form-field-checkbox" class="ace" />
			<span class="lbl"> Email me new updates</span>
		</label>
	</div>
	<div class="space-8"></div>
	
	<div>
		<label class="inline">
			<input type="checkbox" name="form-field-checkbox" class="ace" />
			<span class="lbl"> Keep a history of my conversations</span>
		</label>
		<label class="inline">
			<span class="space-2 block"></span>		
			for
			<input type="text" class="input-mini" maxlength="3" />
			days
		</label>
		</div>
</div>