<div id="edit-plan" class="tab-pane">
<h3 class="header smaller red">ご利用プランを選択してください</h3>
<div class="alert alert-danger" id="alert-plan">
	<button type="button" class="close" data-dismiss="alert">
		<i class="icon-remove"></i>
	</button>
	<strong>
		<i class="icon-remove"></i>
		Oh No Plan!
	</strong>
	プランが未選択です。下記プランよりプランを選択してください。
	<br />
</div>

	<div class="row">
		<div class="col-xs-4 col-sm-3 pricing-span-header">
			<div class="widget-box transparent">
				<div class="widget-header">
					<h5 class="bigger lighter">プラン名</h5>
					
				</div>
	
				<div class="widget-body">
					<div class="widget-main no-padding">
						<ul class="list-unstyled list-striped pricing-table-header">
							<li>掲載回数</li>
							<li>急募</li>
							<li>スカウト機能</li>
							<li>店舗管理数</li>
							<li>広告掲載（サイド）ご利用される場合にかかる料金</li>
							<li>広告掲載（メイン）ご利用される場合にかかる料金</li>
							<li>基本料金（1ヶ月契約）</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-xs-8 col-sm-9 pricing-span-body">
			<div class="pricing-span">
				<div class="widget-box pricing-box-small">
					<div class="widget-header header-color-red3">
						<h5 class="bigger lighter">Basic</h5>
					</div>
	
					<div class="widget-body">
						<div class="widget-main no-padding">
							<ul class="list-unstyled list-striped pricing-table">
								<li> 1回</li>
								<li>
									<i class="icon-remove red"></i>
								</li>
								<li>
									<i class="icon-remove red"></i>
								</li>
								<li> 1店舗 </li>
								<li> ¥5,000 </li>
								<li> ¥10,000 </li>
							</ul>
	
							<div class="price">
								<span class="label label-lg label-inverse arrowed-in arrowed-in-right">
									¥2,980
									<small>/1ヶ月</small>
								</span>
							</div>
						</div>
	
						<div>
							<a href="#" class="btn btn-block btn-sm btn-danger btn-planChoice" id="Basic">
								<span>選択</span>
							</a>
						</div>
					</div>
				</div>
			</div>
	
			<div class="pricing-span">
				<div class="widget-box pricing-box-small">
					<div class="widget-header header-color-orange">
						<h5 class="bigger lighter">Starter</h5>
					</div>
	
					<div class="widget-body">
						<div class="widget-main no-padding">
							<ul class="list-unstyled list-striped pricing-table">
								<li> 2回</li>
								<li>
									<i class="icon-ok green"></i>1回</li>
								<li>
									<i class="icon-ok green"></i>3名</li>
								</li>
								<li> 5店舗 </li>
								<li> ¥5,000 </li>
								<li> ¥10,000 </li>
							</ul>
	
							<div class="price">
								<span class="label label-lg label-inverse arrowed-in arrowed-in-right">
									¥4,980
									<small>/1ヶ月</small>
								</span>
							</div>
						</div>
	
						<div>
							<a href="#" class="btn btn-block btn-sm btn-warning btn-planChoice" id="Starter">
								<span>選択</span>
							</a>
						</div>
					</div>
				</div>
			</div>
	
			<div class="pricing-span">
				<div class="widget-box pricing-box-small">
					<div class="widget-header header-color-blue">
						<h5 class="bigger lighter">Business</h5>
					</div>
	
					<div class="widget-body">
						<div class="widget-main no-padding">
							<ul class="list-unstyled list-striped pricing-table">
								<li> 店舗数分</li>
								<li>
									<i class="icon-ok green"></i>1回</li>
								<li>
									<i class="icon-ok green"></i>10名</li>
								</li>
								<li> 無制限 </li>
								<li> 無料 </li>
								<li> ¥10,000 </li>
							</ul>
	
							<div class="price">
								<span class="label label-lg label-inverse arrowed-in arrowed-in-right">
									¥9,980
									<small>/1ヶ月</small>
								</span>
							</div>
						</div>
	
						<div>
							<a href="#" class="btn btn-block btn-sm btn-primary btn-planChoice" id="Business">
								<span>選択</span>
							</a>
						</div>
					</div>
				</div>
			</div>
	
			<div class="pricing-span">
				<div class="widget-box pricing-box-small">
					<div class="widget-header header-color-green">
						<h5 class="bigger lighter">Unlimited</h5>
					</div>
	
					<div class="widget-body">
						<div class="widget-main no-padding">
							<ul class="list-unstyled list-striped pricing-table">
								<li> 店舗数分</li>
								<li>
									<i class="icon-ok green"></i>1回</li>
								<li>
									無制限
								</li>
								<li> 無制限 </li>
								<li> ¥5,000 </li>
								<li> 無料 </li>
							</ul>
	
							<div class="price">
								<span class="label label-lg label-inverse arrowed-in arrowed-in-right">
									¥14,980
									<small>/1ヶ月</small>
								</span>
							</div>
						</div>
	
						<div>
							<a href="#" class="btn btn-block btn-sm btn-success btn-planChoice" id="Unlimited">
								<span>選択</span>
							</a>
						</div>
					</div>
				</div>
			</div>
	
			<div class="pricing-span">
				<div class="widget-box pricing-box-small">
					<div class="widget-header header-color-grey">
						<h5 class="bigger lighter">Extreme</h5>
					</div>
	
					<div class="widget-body">
						<div class="widget-main no-padding">
							<ul class="list-unstyled list-striped pricing-table">
								<li> 店舗数分</li>
								<li>
									<i class="icon-ok green"></i>1回</li>
								<li>
									無制限
								</li>
								<li> 無制限 </li>
								<li> 無料 </li>
								<li> 無料 </li>
							</ul>
	
							<div class="price">
								<span class="label label-lg label-inverse arrowed-in arrowed-in-right">
									¥19,980
									<small>/1ヶ月</small>
								</span>
							</div>
						</div>
	
						<div>
							<a href="#" class="btn btn-block btn-sm btn-grey btn-planChoice" id="Extreme">
								<span>選択</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="space-6"></div>
	<div class="alert alert-block alert-success">
		<span id="selectedPlan">お客様の選択されたプラン：</span>
		<strong>
					<span id="selectPlan">未選択</span>
		</strong>
		<br />
	</div>
</div>