<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
          try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
        <ul class="breadcrumb">
          <li>
            <i class="icon-home home-icon"></i>
            <a href="#">Home</a>
          </li>
          <li class="active">Shop</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
              お店一覧
            </h1>
          </div><!-- /.page-header -->   
          <div class="row">
            <div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<table id="grid-table"></table>
								<div id="grid-pager"></div>
								<script type="text/javascript">
									var $path_base = "/";//this will be used in gritter alerts containing images
								</script>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->

          </div>
    </div>
</div>
