<div class="alert alert-block alert-success">
  <button type="button" class="close" data-dismiss="alert">
    <i class="icon-remove"></i>
  </button>
  <i class="icon-ok green"></i>
  Healthy Land 管理画面へようこそ！！
  <strong class="green">
    <%= admin.name%>
    <small>様</small>
  </strong>
    のプロフィールと御社のプロフィールを登録してください。
    <i class="icon-hand-right icon-animated-hand-pointer blue"></i>
    <a href="/Admin/edit" class="pink">プロフィール画面へ</a>
</div>