<div id="edit-image" class="tab-pane">
	<!-- general -->	
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h4 class="header blue bolder smaller">イメージ管理情報</h4>
			<div class="widget-main">
				<input multiple="" type="file" id="id-input-file-3" />
				<label>
					<input type="checkbox" name="file-format" id="id-file-format" class="ace" />
				</label>
			</div>
<input type="file" id="files" name="files[]" multiple />
<output id="list"></output>

<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }
      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
          document.getElementById('list').insertBefore(span, null);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>
		</div>
	</div><!-- /row -->
</div>
