<div id="edit-settings" class="tab-pane">
	<!-- general -->	
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h4 class="header blue bolder smaller" >各種設定</h4>
      <div class="form-group">
				<label class="col-sm-4 control-label no-padding-right" for="name" data-rel="tooltip" title="テーマカラーを設定すると一覧表示時にわかりやすくなります。" data-placement="top">テーマカラー</label>				
				<div class="col-sm-8">
					<div class="clearfix">
						<select id="simple-colorpicker-1" class="hide" name="themaColor">
						</select>
					</div>
				</div>
			</div>
			<div class="space-4"></div>
		</div>
	</div>
</div>